.list-form-container {
  display: flex;
  justify-content: space-evenly;

}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 40%;
  margin-right: 5%;
}
.recent-score {
  display: flex;
  column-gap: 40px;
  width: 100%;
  
}
.refresh {
  height: 25px;
  margin-top: 25px;
  background-color: white;
  padding: 5px;
}
.lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid black 1px;
  list-style: none;

}
.lists li {
  list-style: none;
  padding: 10px;
  margin-left: -40px;
  border-bottom: solid black 1px;

}
.even {
  background-color: silver;
}